@import url(/bootstrap/dist/css/bootstrap.min.css);
@import url(/bootstrap-icons/font/bootstrap-icons.css);
@import url(/css/_resets.css);

#init-loading {
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 9999999999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}